* {
  margin: 0;
  padding: 0;
}
.header {
  align-items: center;
  width: 100vw;
  height: 80px;
  background-color: #0C0C0C;
  justify-content: space-between;
  display: flex;
}
.nav-logos {
  display: flex;
  align-items: center;
  justify-items: center;
}
.nav-logos a {
  display: flex;
  padding-right: 12pt;
}
.nav_human_logo {
  height: 50px;
  padding-left: 12pt;
}
.nav_logo {
  height: 40px;
}
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  width: 100vw;
  height: 2100px;
  background-color: #0C0C0C;
}
.product1 {
  padding-left: 12pt;
  padding-right: 12pt;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product1 img {
  height: 500pt;
}
.product1 ul {
  margin-left: 100px;
  color: white;
}
.product1-h1 {
  font-size: 65pt;
  font-family: Futura;
  font-weight: bold;
}
.product1-h2 {
  font-size: 18pt;
  font-family: Futura;
  font-weight: bold;
}
.product1-h3 {
  font-size: 14pt;
  font-family: Futura;
  font-weight: bold;
}
.product1 ul img {
  margin-top: 20px;
  width: 120px;
  height: 50px;
}
hr.rounded1 {
  width: 90%;
  border-top: 3px solid #bbb;
  border-color: rgb(12, 12, 12);
}
.product2 {
  padding-left: 12pt;
  padding-right: 12pt;
  align-items: center;
  display: flex;
  justify-content: center;
}
.product2-img1 {
  height: 500pt;
}
.product2-img2 {
  display: none;
}
.product2 ul {
  padding-right: 100px;
}
.product2-h1 {
  font-size: 28pt;
  font-family: Futura;
  font-weight: bold;
  color: rgb(241, 242, 242);
}
.product2-h2 {
  font-size: 14pt;
  font-family: Futura;
  font-weight: bold;
  margin-top: 10px;
  color: rgb(241, 242, 242);
}
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 1450px;
  background-color: #0C0C0C;
}
.product3 {
  padding-left: 12pt;
  padding-right: 12pt;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product3 img {
  height: 500pt;
}
.product3 ul {
  padding-left: 100px;
}
.product3-h1 {
  font-size: 28pt;
  font-family: Futura;
  font-weight: bold;
  color: rgb(241, 242, 242);
}
.product3-h2 {
  font-size: 14pt;
  margin-top: 20px;
  font-family: Futura;
  font-weight: bold;
  color: rgb(241, 242, 242);
}
.product3-h3 {
  margin-top: 10px;
  font-size: 12pt;
  font-family: Futura;
  font-weight: bold;
  color: rgb(241, 242, 242);
}
.product3 ul img {
  margin-top: 20px;
  width: 140px;
  height: 50px;
}
hr.rounded {
  width: 90%;
  border-top: 2px solid #bbb;
  border-color: rgb(24, 24, 24);
}
.emailUpdate {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.emailSignUpText {
  padding-left: 12pt;
  padding-right: 12pt;
  text-align: center;
  color: white;
  font-family: Futura;
  font-size: 16pt;
}
.inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  margin-top: 20pt;
  font-family: Futura;
  font-size: 10pt;
  font-weight: bold;
  height: 30pt;
  border: none;
  width: 600pt;
  padding-left: 12pt;
  border-radius: 25pt;
  background-color: rgb(40, 40, 40);
  color: white;
}
.inputButton {
  margin-top: 15pt;
  color: white;
  font-family: Futura;
  font-size: 10pt;
  font-weight: bold;
  height: 30pt;
  width: 60pt;
  border: none;
  border-radius: 20pt;
  background-color: #25cc3b;
}
.inputButton:hover {
  background-color: #1e922d;
}
hr.rounded2 {
  height: 160px;
  border: 2px solid #bbb;
  border-color: rgb(24, 24, 24);
  margin-left: 40px;
  margin-right: 40px;
}
hr.rounded3 {
  width: 99%;
  border-top: 2px solid #bbb;
  border-color: rgb(24, 24, 24);
}

@media only screen and (max-width: 1200px) {
  .section1 {
    height: 1000px;
  }
  .section2 {
    height: 500px;
  }
  .section3 {
    height: 850px;
  }
  .product1 img {
    height: 210pt;
  }
  .product1 ul {
    margin-left: 30px;
  }
  .product1-h1 {
    font-size: 36pt;
  }
  .product1-h2 {
    font-size: 12pt;
    padding-top: 5px;
  }
  .product1-h3 {
    font-size: 10pt;
    padding-top: 5px;
  }
  .product1 ul img {
    width: 80px;
    height: 30px;
  }
  hr.rounded1 {
    width: 90%;
    border-top: 2px solid #bbb;
    border-color: rgb(12, 12, 12);
  }
  .product2-img1 {
    display: none;
  }
  .product2-img2 {
    height: 210pt;
    display: block;
  }
  .product2 ul {
    padding-right: 30px;
  }
  .product2-h1 {
    font-size: 18pt;
  }
  .product2-h2 {
    font-size: 8pt;
  }
  .product3 img {
    height: 210pt;
  }
  .product3 ul {
    padding-left: 30px;
  }
  .product3-h1 {
    font-size: 18pt;
  }
  .product3-h2 {
    font-size: 12pt;
  }
  .product3-h3 {
    font-size: 8pt;
  }
  .product3 ul img {
    width: 80px;
    height: 30px;
  }
  .input {
    width: 200pt;
  }
  .emailSignUpText {
    font-size: 10pt;
  }
  .input {
    width: 80%;
    height: 30pt;
    padding-left: 12pt;
    padding-right: 10pt;
  }
}


@media only screen and (max-width: 430px) {
  .nav_human_logo {
    display: none;
  }
  .nav_logo {
    width: 20px;
    height: 20px;
  }
  .section1 {
    height: 780px;
  }
  .section2 {
    height: 400px;
  }
  .section3 {
    height: 700px;
  }
  .product1 img {
    height: 160pt;
  }
  .product1 ul {
    margin-left: 20px;
  }
  .product1-h1 {
    font-size: 28pt;
  }
  .product1-h2 {
    font-size: 10pt;
    padding-top: 5px;
  }
  .product1-h3 {
    font-size: 10pt;
    padding-top: 5px;
  }
  .product1 ul img {
    width: 60px;
    height: 20px;
  }
  hr.rounded1 {
    width: 90%;
    border-top: 2px solid #bbb;
    border-color: rgb(12, 12, 12);
  }
  .product2-img1 {
    display: none;
  }
  .product2-img2 {
    height: 160pt;
    display: block;
  }
  .product2 ul {
    padding-right: 20px;
  }
  .product2-h1 {
    font-size: 12pt;
  }
  .product2-h2 {
    font-size: 8pt;
  }
  .product3 img {
    height: 160pt;
  }
  .product3 ul {
    padding-left: 20px;
  }
  .product3-h1 {
    font-size: 12pt;
  }
  .product3-h2 {
    font-size: 10pt;
  }
  .product3-h3 {
    font-size: 8pt;
  }
  .product3 ul img {
    width: 60px;
    height: 20px;
  }
  .input {
    width: 120pt;
  }
  .emailSignUpText {
    font-size: 8pt;
  }
  .input {
    width: 80%;
    height: 25pt;
    padding-left: 12pt;
    padding-right: 10pt;
  }
  .bottom-nav-logo {
    margin-left: 6.5%;
    display: flex;
    height: 60px;
  }
  .bottom-nav_cycles_text {
    margin-top: 5px;
    font-size: 18pt;
  }
  .bottom-nav-links a {
    font-size: 6pt;
    padding: 2pt;
  }
  .bottom-nav-apple {
    width: 50px;
    height: 15px;
  }
}