<nav >
    <div class="header" >
        <ul class="nav-logos">
            <a href="../Home/index.html"><img class="nav_human_logo" src="../images/cycles_human.png"></a> 
            <a href="../Home/index.html"><img class="nav_logo" src="../images/logo.png"></a>
            <a href="../Home/index.html" class="nav_cycles_text" >cycles</a>
        </ul>
    </div>
    <div class="right-nav">
        <nav>
            <ul class="nav-links" id="menuList">
                <a href="../Home/index.html">Home</a>
                <a href="../TOS/terms-and-conditions.html">Terms of Service</a>
                <a href="../PrivacyPolicy/privacy-policy.html">Privacy Policy</a>
                <a href="../EULA/eula.html">EULA</a>
                <a href="support@cyclesstudis.com">Contact</a>
                <a href=""><img class="nav_apple" src="../images/appleDownload.png"></a>
            </ul>
        </nav>
        <i class="fa fa-bars" style="color: white;" onclick=""></i>
    </div>
</nav>