* {
    margin: 0;
    padding: 0;
  }
.header {
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(16, 16, 16);
    justify-content: space-between;
    display: flex;
  }
  .nav-logos {
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .nav-logos a {
    display: flex;
    padding-right: 12pt;
  }
  .nav_human_logo {
    height: 24px;
    color: rgb(241, 242, 242);
    padding-left: 12pt;
  }
  .nav_logo {
    width: 30px;
    height: 30px;
  }
  .nav_cycles_text {
    font-size: 26pt;
    font-family: Futura;
    font-weight: bold;
    color: rgb(241, 242, 242);
    text-decoration: none;
    margin-bottom: 8px;
  }
  .right-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 12pt;
  }
  .right-nav i {
    display: none;
  }
  .nav-links {
    align-items: center;
    display: flex;
    height: 80px;
  }
  .nav-links a {
    display: flex;
    color: rgb(241, 242, 242);
    text-decoration: none;
    font-size: 10pt;
    font-family: Futura;
    font-weight: bold;
    padding: 6pt;
  }
  .nav-links a:hover {
    color: grey;
  }
  .nav_apple {
    width: 90px;
    height: 35px;
  }
  .sidemenu {
    display: none;
  }
  .sidemenu-links {
    display: none;
  }

  @media only screen and (max-width: 1200px) {
    .nav-links {
      display: none;
    }
    .right-nav i {
      display: block;
      font-size: 16pt;
    }
    .fa {
      color: white;
      padding-top: 3pt;
      padding-left: 12pt;
    }
    .fa:hover {
      color: grey;
    }
    .sidemenu {
      text-align: left;
      right: 0;
      top: 0;
      padding-top: 20pt;
      position: fixed;
      display: flex;
      flex-direction: column;
      width: 180pt;
      height: 100%;
      background-color: rgb(20, 20, 20);
    }
    .sidemenu-links {
      padding-top: 12pt;
      display: flex;
      flex-direction: column;
      padding-left: 6pt;
    }
    .sidemenu-links a {
      display: flex;
      flex-direction: column;
      padding-left: 12pt;
      color: rgb(241, 242, 242);
      text-decoration: none;
      font-size: 10pt;
      font-family: Futura;
      font-weight: bold;
      padding: 6pt;
    }
    .sidemenu-links a:hover {
      color: grey;
    }
    .menu-icon {
      display: block;
      color: white;
      width: 15pt;
      height: 15pt;
    }
    .menu-icon:before,
    .menu-icon:after,
    .menu-icon div {
      background: #fff;
      content: "";
      display: block;
      height: 2px;
      border-radius: 3px;
      margin: 5px 0;
    }
    .sidemenu-icon {
      align-self: flex-end;
      padding-right: 12pt;
      display: block;
      color: white;
      width: 15pt;
      height: 15pt;
    }
    .sidemenu-icon:before,
    .sidemenu-icon:after,
    .sidemenu-icon div {
      background: #fff;
      content: "";
      display: block;
      height: 2px;
      border-radius: 3px;
      margin: 5px 0;
    }
  }
  
  
  @media only screen and (max-width: 430px) {
    .nav-links {
      display: none;
    }
    .nav_human_logo {
      display: none;
    }
    .nav_logo {
      width: 20px;
      height: 20px;
    }
    .nav_cycles_text {
      font-size: 14pt;
      margin-bottom: 5px;
    }
    .right-nav i {
      display: block;
      font-size: 12pt;
    }
    .fa {
      color: white;
      padding-top: 3pt;
      padding-left: 12pt;
    }
    .fa:hover {
      color: grey;
    }
    .sidemenu {
      text-align: left;
      right: 0;
      top: 0;
      padding-top: 20pt;
      position: fixed;
      display: flex;
      flex-direction: column;
      width: 120pt;
      height: 100%;
      background-color: rgb(20, 20, 20);
    }
    .sidemenu-links {
      padding-top: 12pt;
      display: flex;
      flex-direction: column;
      padding-left: 6pt;
    }
    .sidemenu-links a {
      display: flex;
      flex-direction: column;
      padding-left: 12pt;
      color: rgb(241, 242, 242);
      text-decoration: none;
      font-size: 8pt;
      font-family: Futura;
      font-weight: bold;
      padding: 6pt;
    }
    .sidemenu-links a:hover {
      color: grey;
    }
    .menu-icon {
      display: block;
      color: white;
      width: 8pt;
      height: 8pt;
    }
    .menu-icon:before,
    .menu-icon:after,
    .menu-icon div {
      background: #fff;
      content: "";
      display: block;
      height: 1px;
      border-radius: 2px;
      margin: 3px 0;
    }
    .sidemenu-icon {
      align-self: flex-end;
      padding-right: 12pt;
      display: block;
      color: white;
      width: 8pt;
      height: 8pt;
    }
    .sidemenu-icon:before,
    .sidemenu-icon:after,
    .sidemenu-icon div {
      background: #fff;
      content: "";
      display: block;
      height: 1px;
      border-radius: 2px;
      margin: 3px 0;
    }
  }